/.idea/
/.vscode/
.DS_Store/
.env
.venv
env/
/env/
venv/
/venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.egg-info/
*.egg
/build/
/dist/
/.pytest_cache/
/.tox/
.coverage
.coverage.*
/htmlcov/
/docs/_build/
.cache
