sudo: false
language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"

env:
  - TEST_EXTRA=-colorama
  - TEST_EXTRA=

install:
  - pip install tox

script:
  - |
    set -x
    if [[ $TRAVIS_PYTHON_VERSION == pypy ]]; then
      tox -e "pypy${TEST_EXTRA}"
    else
      tox -e "py${TRAVIS_PYTHON_VERSION/./}${TEST_EXTRA}"
    fi
    set +x

branches:
  only:
    - master
    - auto
    - /^.*-maintenance$/

notifications:
  email: false
