sudo: false
language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"

env:
  - TEST_EXTRA=
  - TEST_EXTRA=colorama

install:
  - pip install tox

script:
  - |
    set -x
    if [[ $TRAVIS_PYTHON_VERSION == pypy ]]; then
      TOX_PY=pypy
    else
      TOX_PY="py${TRAVIS_PYTHON_VERSION/./}"
    fi
    export TOXENV="${TOX_PY}-coverage"
    if [[ $TEST_EXTRA == colorama ]]; then
      TOXENV="$TOXENV-colorama"
    fi
    tox
    set +x

branches:
  only:
    - master
    - auto
    - /^.*-maintenance$/

notifications:
  email: false

after_success:
  - pip install codecov
  - travis_retry codecov --env TOXENV -X search gcov --required --flags $TOX_PY $TEST_EXTRA
